/* Mobile & Tablet */
@media (max-width: 1023px) {
  :root {
    --header-nav-height: 0px
  }
  .hide-on-mobile-tablet {
    display: none;
  }
  .header-top__user-menu-list {
    margin-left: 0px;
  }
  .header-top__user-menu-list-item:nth-child(2),
  .header-top__user-menu-list-item:nth-child(3) {
    display: none;
  }
  .header-nav-wrap {
    display: none;
  }
  .section-main {
    box-shadow: none;
    background-color: transparent;
  }
  .section-main__banner-wrap {
    height: 100%;
    position: unset;
    margin-left: 0px;
  }
  .time-counter__heading,
  .time-counter__subtitle {
    text-align: center;
  }
  .time-counter__list {
    justify-content: center;
  }
  .time-counter-wrap {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .section-sale__sale-category-link {
    border: none;
    border-radius: 0;
    padding: 12px 0;
  }
  .section-product-category_aside {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .section-product-category__item-wrap:nth-child(4)
    .section-product-category__item-link {
    border-radius: 0;
  }
  .section-product-category__item-wrap:nth-child(7)
    .section-product-category__item-link {
    border-bottom-left-radius: 8px;
  }
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__heading {
    margin-top: 32px;
  }
  .footer-contact__message {
    text-align: center;
  }
  .section-subscribe__input-wrap {
    width: 100%;
  }
  .section-subscribe__input {
    width: 100%;
  }
  .section-subscribe__submit-btn {
    width: 100%;
  }
  .section-sale__sale-category-item:nth-child(6)
    .section-sale__sale-category-link {
    display: flex;
  }
  .time-counter__item {
    padding: 16px;
    border-radius: 8px;
  }
  .time-counter__item-num,
  .time-counter__item-label {
    font-size: 1.6rem;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .header-top__logo {
    display: none;
  }
  .section-main__banner-wrap {
    border-radius: 8px;
  }
  .search-bar-form__input-select {
    padding: 0px 0px 0px 10px;
  }
  .search-bar-form__input {
    width: 0px;
  }
  .search-bar-form__submit-btn {
    padding: 0 12px;
  }

  .section-main__banner-list {
    padding: 0 0 0 12px;
  }
  .section-product-category__item-link {
    border: none;
  }
  .section-recommended-items__item:nth-child(10) {
    display: none;
  }
}

/* Mobile */
@media (max-width: 739px) {
  :root {
    --header-top-height: 60px;
  }
  .header-top__logo-img {
    height: 36px;
  }
  .hide-on-mobile {
    display: none;
  }
  .header-top {
    justify-content: space-between;
  }
  .mobile-menu-checkbox-label {
    display: block;
  }
  .header-top__logo-link {
    margin-right: 0px;
    margin-left: 16px;
  }
  .header-top__search-bar {
    display: none;
  }
  .header-top__user-menu-list {
    margin-right: 16px;
  }
  .section-sale,
  .section-product-category-wrap,
  .section-recommended-items {
    margin-left: 16px;
    margin-right: 16px;
  }
  .section-product-category__category-img {
    display: none;
  }
  .section-inquiry::before {
    border-radius: 0;
  }
  .section-subscribe {
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-inquiry-slogan {
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-inquiry-form {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .section-inquiry-form__heading {
    margin-bottom: 16px;
  }
  .section-inquiry-form__label {
    margin-left: 0;
  }
  .section-inquiry-form__input {
    padding-left: 0;
    padding-right: 0;
  }
  .section-inquiry-form__submit-btn {
    align-self: flex-end;
  }
  .section-subscribe__subheading {
    text-align: center;
  }
  .section-subscribe__input {
    margin-right: 0;
  }
  .section-subscribe__submit-btn {
    margin-left: 0;
    margin-top: 16px;
  }
  .footer-contact {
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__heading,
  .footer__item-link {
    text-align: center;
  }
  .footer__app-download-item {
    display: flex;
    justify-content: center;
  }
  .footer-copyright {
    padding-left: 16px;
    padding-right: 16px;
  }
}
